<nav [className]="home? 'nav_bar is_active' : 'nav_bar'">
    <a href="/" class="nav_logo">Umbrella</a>
    <div class="special_links">
        <a href='/' >Home</a>
        <a (click)="GoToInventory()">Inventory</a>
        <a href="/contact">Contact</a>
    </div>
    <a class="nav_btn" target="_blank" (click)="switchToggle()">
        <div [className]="toggle? 'one is_active' : 'one'"></div>
        <div [className]="toggle? 'two is_active' : 'two'"></div>
        <div [className]="toggle? 'three is_active' : 'three'"></div>
    </a>
</nav>

<div [className]="toggle? 'min_lnk active' : 'min_lnk'">
    <a href="/">Home</a>
    <hr>
    <a href="/inventory">Inventory</a>
    <hr>
    <a href="/contact">Contact</a>
</div>
